@import "tailwindcss";
body {
  background-color: lavender;
}

.btn {
  @apply py-2 px-4 rounded-lg cursor-pointer text-violet-100 font-bold;
}

.compCard {
  @apply bg-violet-200 px-8 py-4 mb-7 rounded-xl shadow-violet-300 shadow-lg;
}

.cardStats {
  @apply bg-violet-200 px-8 py-4 mb-7 rounded-xl shadow-violet-300 shadow-md w-1/4 flex flex-col items-center;
}

.cardIcon {
  @apply text-3xl text-violet-500 font-bold mb-2;
}

.cardHeading {
  @apply font-bold text-xl text-violet-900;
}

.textArea {
  @apply w-full bg-violet-300 rounded-lg h-32 p-4 text-white focus:outline-hidden font-semibold;
}

